<div class="header">
  <div class="thorax-container">
    header
  </div>
</div>

<div class="thorax-container thorax-wrapper">
  <div class="thorax-primary">
    <h2 class="title">Getting Started</h2>

    <ol class="thorax-steps">
      <li>
        <h3>Do one thing.</h3>

        <p>Fried cheese… with club sauce. Popcorn shrimp… with club sauce. Chicken fingers… with spicy club sauce. I'll sacrifice anything for my children. What have we always said is the most important thing?</p>
      </li>

      <li>
        <h3>Do another thing.</h3>

        <p>Fried cheese… with club sauce. Popcorn shrimp… with club sauce. Chicken fingers… with spicy club sauce. I'll sacrifice anything for my children. What have we always said is the most important thing?</p>
      </li>

      <li>
        <h3>Do one last thing.</h3>

        <p>Fried cheese… with club sauce. Popcorn shrimp… with club sauce. Chicken fingers… with spicy club sauce. I'll sacrifice anything for my children. What have we always said is the most important thing?</p>
      </li>
    </ol>
  </div>

  <div class="thorax-secondary">
    <h3>Resources</h3>

    <ul>
      <li><a href="http://thoraxjs.org/api.html">API Reference</a></li>
      <li><a href="http://thoraxjs.org/start.html">Tutorials</a></li>
      <li><a href="http://vimeo.com/60230630">Screencast</a></li>
    </ul>
  </div>
</div>
