{{! Calling RootView.getInstance().setView(view)
    will place a view where layout-element is called below. }}
    
<header>
  {{view header}}
</header>

<aside>
  {{view sidebar}}
</aside>

<div id="main" class="main">
  {{layout-element}}
</div>

<footer>
  {{view footer}}
</footer>
