{{! Calling RootView.getInstance().setView(view)
    will place a view where layout-element is called below. }}
    
<header id="header">
</header>

<aside id="sidebar">
</aside>

<div id="main" class="main">
  {{layout-element}}
</div>

<footer id="footer">
</footer>
